.loginpage {
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-clip: content-box;
  background-image: url('./../../Assets/backgrounds/2.jpg');
  background-repeat: no-repeat;
}

.logincontainer {
  z-index: 15;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5vh;
  align-items: center;
  width: min-content;
  max-height: 75vh;
}

.logintitle {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  font-weight: bolder;
  font-size: 2rem;
  line-break: loose;
}

.logindesc {
  font-size: 1rem;
}
.signinbut {
  font-size: 1.2rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.logindesc{
    word-wrap: break-word;
}

.glogintext{
  font-size: 1rem;
    padding: 10px;
}

.regis{
  padding-top: 15px;
  font-size: 1rem;
}

.regnow{
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}