.evtext{
    color: #781515;
    font-weight: 800;
    font-size: 3vw;
    transition: font-size 1s ease-in-out all;
}

.event-tile{
    text-decoration: none;
    display: flex;
    backdrop-filter: blur(30px) sepia(20%) brightness(120%);
    background-color: transparent;
    margin: 20px;
    width: 50%;
    height: 30%;
    justify-content: center;
    align-items: center;
    transition: background-image 1s ease-in-out all;
    cursor: pointer;
}

.event-tile:hover:nth-of-type(even){
    background-image: url('https://firebasestorage.googleapis.com/v0/b/snist-stackathon.appspot.com/o/G4EEmDZF_t.jpg?alt=media&token=ac489889-af26-4096-96ab-8f428dce692e') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.5px);
}

.event-tile:hover{
    background-image:  url('https://firebasestorage.googleapis.com/v0/b/snist-stackathon.appspot.com/o/rrr.jpg?alt=media&token=1168c513-84d4-4c51-ad3c-b73da248e214');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.5px);
}

.event-tile:hover .evtext{
    color: white;
    font-size: 2vw;
    transition: font-size 1s ease-in-out all;
}