.cse-btech-conts{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    /* flex-wrap: wrap; */
}

.cse-b-cont{
    background-color: aliceblue;
    padding: 40px;
    margin: 20px auto;
    border-radius: 20px;
    max-width: 1200px;
}