.Department {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.vi {
    font-weight: bold;
    font-size: 30px;
    text-align: justify;
    visibility: hidden;
}

.ITfaculty {
    text-align: center;
}

.IT-div {
    font-size: 20px;
    font-family: Arial;
}

.IT-mission {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 2vw;
    max-width: 35%;
}

.IT-M-pos {
    border-radius: 20px;
    padding: 2%;
    margin: auto;
    background-color: aliceblue;
    word-break: normal;
    max-width: 65%;
}

.IT-M-peo {
    border-radius: 20px;
    padding: 2%;
    margin: 20px auto;
    background-color: aliceblue;
    word-break: normal;
    max-width: 65%;
}

.IT-PEOs {

    border-radius: 20px;
    padding: 2%;
    margin: 20px auto;
    background-color: aliceblue;
    word-break: normal;
    max-width: 65%;
}

.IT-outcomes {
    font-size: 20px;
    font-family: Arial;
}

.ITIntake {
    display: flex;
    justify-content: center;
}

.Heading {
    text-align: center;
}

.IT-POs {
    border-radius: 20px;
    padding: 2%;
    margin:20px auto;
    background-color: aliceblue;
    word-break: normal;
    max-width: 65%;

}

.IT-VISION {
    border-radius: 20px;
    padding: 2vw;
    background-color: aliceblue;
}



.IT-HOD {
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;

}

.IT-pos-peos{
    display:flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.IT-vis-mis{
    display:flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    
}

.IT-outcomes{
    display: flex;
    justify-content: center;
}