.header {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: ease-in-out 0.5s;
}
.headertabs {
  font-size: 1vw;
  display: flex;
  text-decoration: none;
  margin-right: 30px;
}

.headertab {
  padding: 15px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  text-decoration: none;
}

.snistlogo {
  width: 14.5vw;
  padding-left: 20px;
}

.headertab {
  margin: 10px;
  padding: 10px 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff7777;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover {
    color: #ff7777;
    &::before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.altheader{
  font-weight: bolder;
  display: flex;
  align-items: center;
  z-index: 900;
  position: absolute;
  color: white;
  margin: 0.5%;
  padding: 0.5%;
  font-size: calc(1.2vw + 10px);
  gap: 10px;
  cursor: pointer;
}

.altheader:hover{
  color: white;
}