.event-left{
    padding: 60px;
    color: white;
    font-size: 150px;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    width: 50%;
}
.event-right{
    min-width: 50%;
}

.event-container{
    z-index: 20;
    width: 100%;
    position: absolute;
    height: 100vh;
    background-image: url('./../../Assets/backgrounds/black.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}