.event-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    flex-grow: 1;
    min-height: 100%;
    max-width: 50vw;
}
.event-right{
    min-width: 50%;
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.event-container{
    display: flex;
    flex-direction: row;
    z-index: 20;
    width: 100%;
    position: absolute;
    height: 100vh;
    background-image: url('./../../Assets/backgrounds/black.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.upcmingtxt{
    font-weight: 800;
    font-size: 2.5vw;
   color: rgb(66, 61, 63);
   padding-bottom: 20px;
}


